@media(max-width: 1634px){
    .header__bottom{
        background-position: 0 -274px;
    }  
}

@media(max-width: 1534px){
    .header__bottom{
        background-position: 0 -237px;
    }
    
}

@media(max-width: 1445px){
    .adapt__top-img {
        margin: 0 auto;
        max-width: 1100px;
    }
    .subscribe__img {
        max-width: 273px;
        height: 273px;
        margin: 0 auto;
    }  
}


@media(max-width: 1434px){
    .header__bottom{
        background-position: 0 -200px;
    }
    
}

@media(max-width: 1334px){
    .header__bottom{
        background-position: 0 -137px;
    }
    .blockquote-img {
        background-position: -68px 0;
    }
    
}

@media(max-width: 1234px){
    .header__bottom{
        background-position: 0 -51px;
    }
    .blockquote-img {
        background-position: -167px 0;
    }
    .articles__flex-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        margin: 0 auto;
        max-width: 800px;
        height: 1660px;
    }
    .articles-box--3{
        margin-top: -300px;
    }
    .subscribe__text {
        margin-bottom: 60px;
    }
    
}

@media(max-width: 1170px){
    .world__content {
        display: block;
    }
    .world__left {
        max-width: 100%;
        margin-top: 0px;
    }
    .world__left-title {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .header__bottom {
        background-position: 0 -60px;
        padding: 60px 55px 60px;
        height: 560px;
    }
    .world__center {
      margin-left: auto;
    }
    .world__right {
        margin-top: -468px;
    }
    .world__right-text {
        max-width: 200px;
    }
    .blockquote-two__box {
        right: 60px;
    }
    
}


@media(max-width: 1140px){
    .elevate {
        padding: 70px 0;
    }
    .elevate__top {
        display: block;
    }
    .elevate__top-left {
        max-width: 100%;
    }
    .title {
        margin-bottom: 20px;
    }
    .elevate__bottom {
       display: none;
    }
    .elevate__bottom-box{
        margin-bottom: 30px;
    }
    .elevate__top-img-box{
        margin-bottom: 60px;
        margin-left: auto;
        margin-top: 30px;
    }
    .adapt__top-img {
        max-width: 800px;
    }
    .adapt__left {
        margin-top: -75px;
    }
}
@media(max-width: 1040px){
    .blockquote-img {
        background-position: -405px 0;
    }
    .subscribe__img-top-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        max-width: 580px;
    }
    .subscribe__img-top-box--1{
        margin-bottom: 30px;
    }
    .subscribe__text {
        margin-bottom: 60px;
    }
    .subscribe {
        padding-bottom: 60px;
    }
}

@media(max-width: 928px){
    .adapt__bottom-box, .adapt__right {
      display: block;
    }
    .adapt__left {
        margin-top: 25px;
    }
    .adapt__title {
        max-width: 100%;
    }
    .adapt__left {
        max-width: 100%;
    }
    .adapt__right{
        display: flex;
    }
   
}


@media(max-width: 900px){
    .header__bottom {
        background-position: 0px 1px;
        padding: 60px 55px 60px;
        height: 464px;
    }
   
}


@media(max-width: 900px){
    .header__bottom{
        height: 460px;
        background-position: 0 -40px;
        padding: 60px 55px 60px;
    }
   
}


@media(max-width: 850px){
    .world {
        padding: 20px;
    }
    .world__right {
       margin-top: -410px;
    }
    .world__center-img {
        height: 450px;
    }
    .world__center {
        background-position: 0 11px;
    }
    .elevate__top-img {
        max-width: 536px;
        height: 317px;
    }
    .elevate__top-img-box {
        margin: 0;
        margin-top: 25px;
        margin-left: auto;
    }
    .elevate__top-decor-box {
        margin-top: -129px;

    }
    .adapt__top-img {
        max-width: 600px;
    }
    .blockquote-img {
        background-position: -424px 0;
        height: 561px;
    }
    .blockquote-two__box {
        max-width: 423px;
        position: absolute;
        bottom: 198px;
    }
    .blockquote {
        padding: 0;
    }
    .adapt {
        padding-bottom: 60px;
    }
   
}

@media(max-width: 730px){
    .articles__flex-box {
        display: block;
        margin: 0 auto;
        max-width: 340px;
        height: 2880px;
    }
    .articles-box--3{
        margin-top: 0;
    }
    .articles {
        padding: 60px 0 60px;
    }
    .articles-box{
        margin-bottom: 30px;
    }
    
}


@media(max-width: 700px){
    .header__bottom{
        padding: 60px 55px 60px;
        height: 420px;
        background-position: 0 1px;
    }
    .partners {
        display: block;
        margin: 0 auto;
        width: 126px;
        padding: 0px;
    }
    .partners-img{
        padding-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
    }
    .blockquote {
        padding:40px 0;
    }
    .blockquote-img {
        background-position: -486px 0;
    }
   
   
}

@media(max-width: 658px){
    .title {
        max-width: 100%;
        margin-bottom: 20px;
        font-size: 27px;
    }
    .text{
        font-size: 16px;
    }
    .articles__flex-box {
        height: 2780px;
    }
    .footer {
        height: 147px;
    }
    .footer__link{
        padding-top: 55px;
    }
}

@media(max-width: 618px){
    .header__bottom{
        background-position: 0 1px;
        height: 370px;
    }
    .header__bottom-title {
        font-size: 30px;
        line-height: 40px;
        display: flex;
        justify-content: center;
    
    }
    .header__bottom-img{
        max-width: 400px;
    }
    .header__bottom-link {
        width: 183px;
        font-size: 13px;
    }
    .menu {
        padding: 30px;
    }
    .menu__center-img{
        width: 135px;
    }
    .menu__left-img{
        width: 45px;
    }
    .menu__right-number {
        width: 35px;
        height: 35px;
        font-size: 15px;
        padding: 5px;
       
    }
    .world__right {
        margin-top: -290px;
    }
    .elevate__top-img {
        max-width: 436px;
        height: 217px;
    }
    .elevate__top-right {
        display: block;
    }
    .world__center-img {
        height: 320px;
        margin-left: auto;
        margin-bottom: 0;
    }
    .elevate__decor-img{
        height: 200px;
    }
    .elevate__decor-img--1{
        height: 50px;
    }
    .elevate__decor-img--1 {
        height: 75px;
        width: 94px;
    }
    .elevate__top-decor-box{
        margin-top: -316px;
        margin-left: 5px;
    }
    .elevate__top-decor-right{
        margin-left: 110px;
    }
    .elevate__top-img-box {
        margin: 30px  0 0;
        width: 300px;
    }
    .world__center {
        background-image: none;
    }
    .adapt__top-img {
        max-width: 400px;
    }
    .blockquote-img {
        background-position: -134px 45px;
    }
    .subscribe__img-top-box {
        display: block;
    }
    .subscribe__img{
        margin-bottom: 30px;
    }
    .subscribe__img:last-child{
        margin-bottom: 0px;
    }
    .subscribe__img-top-box{
        margin-bottom: 0;
    }
   
}

@media(max-width: 586px){
    .world__center {
        max-height: 421px;
        width: 260px;
        background-position: 1px 1px;
    }  
}

@media(max-width: 518px){
    .header__bottom-img {
        max-width: 350px;
    }
    .header__bottom-title {
        font-size: 25px;
        line-height: 30px;
        margin: 30px 0;
    }
    .header__bottom{
        background-position: 0 1px;
        height: 330px;
    }
    .world__center-img {
        margin-left: auto;
        margin-right: 0;
    }
    .world__right {
        margin-top: -277px;
    }
    .world__right-text {
        margin-bottom: 20px;
    }
    .world__center {
        max-height: 296px;
        width: 246px;
        background-position: 1px 29px;
    }
    .blockquote-img {
        background-position: -294px 35px;
    }
    .blockquote-two__box {
        left: 38px;
    }
   
}

@media(max-width: 450px){
    .header__bottom-img {
        max-width: 300px;
    }
    .header__bottom-title {
        font-size: 20px;
        line-height: 25px;
        margin: 30px 0;
    }
    .header__bottom{
        background-position: 0 1px;
        height: 330px;
    }  
   
}


@media(max-width: 400px){
    .header__bottom-img {
        max-width: 280px;
    }
    .header__bottom-title {
        font-size: 20px;
        line-height: 25px;
        margin: 30px 0;
    }
    .header__bottom{
        background-position: 0 1px;
        height: 330px;
    }  
    .header__bottom {
        padding: 60px 26px 60px;
        height: 320px;
    }
    .world__right {
        margin-top: -260px;
    }
    .world__center-img {
        height: 220px;
        margin-top: 50px;
    }
    .elevate__top-decor-left {
        margin-left: 5px;
    }
    .world__left-text {
        margin-bottom: 4px;
    }
    .world {
        padding: 20px 7px;
    }
    .blockquote {
        font-size: 27px;
    }
    .elevate__top-img {
        max-width: 298px;
        height: 217px;
    }
    .elevate__top-decor-left {
        margin-right: -4px;
    }
    .elevate__top-img {
        margin-bottom: -285px;
    }
    .adapt__top-img {
        max-width: 300px;
    }
    .adapt__right-text{
        font-size: 13px;
    }

}