$background: #193EE9;
$letter:#202727;
$bg:#EAFCFC;
$gren: #14C5C4;



%roboto-400{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}


%roboto-500{
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}



%rubik-400{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}
